<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".TedflixApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/tedflix_icon"
        android:label="Tedflix"
        android:roundIcon="@drawable/tedflix_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tedflix"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".auth.AuthActivity"
            android:exported="true"
            android:theme="@style/Theme.Tedflix" />
        <activity
            android:name=".auth.AccountActivity"
            android:exported="false"
            android:theme="@style/Theme.Tedflix" />
        <activity
            android:name=".auth.NotificationActivity"
            android:exported="false"
            android:theme="@style/Theme.Tedflix" />
        <activity
            android:name=".auth.FavoritesActivity"
            android:exported="false"
            android:theme="@style/Theme.Tedflix" />
        <activity
            android:name=".PlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Tedflix.Player" />
        <activity
            android:name=".sources.SourceSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Tedflix" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
